
@{
    ViewBag.Title = "List of Teams";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (MyJira.Models.Team team in ViewBag.Teams)
{
    <div class="panel panel-default">
        <div class="panel-heading">@team.Name</div>
        
        <div class="panel-body">part of the project name <i>@team.Project.Name</i></div>

        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Team/Show/@team.Id">View more</a>
        </div>
    </div>

    <br />
}

<br />
<br />
