
@{
    ViewBag.Title = "List of Teams";
}

<h2>@ViewBag.Title</h2>
<hr />

<h3>@ViewBag.message</h3>

@foreach (MyJira.Models.Team team in ViewBag.Teams)
{
    <div class="panel panel-default">
        <div class="panel-heading">@team.TeamName</div>
        
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Team/Show/@team.TeamId">View more</a>
        </div>
    </div>

    <br />
}

<br />
<a class="btn btn-success" href="/Team/New">Add Team</a>
<br />
