
@model MyJira.Models.Team

<div id="myjira">
    <div class="row" id="add-form">

        @using (Html.BeginForm(actionName: "New", controllerName: "Team"))
        {
            @Html.Label("Name", "Team name")
            <br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            <br />

            @Html.HiddenFor(m => m.ProjectId)
            <br />

            <button class="btn btn-sm btn-success add-button" type="submit">Create Team</button>
        }
    </div>
</div>