@model MyJira.Models.Team

@{
    ViewBag.Title = "Show";
}

<h1>@ViewBag.Title</h1>

<div class="panel panel-default">
    <div class="panel-heading">@Model.TeamName</div>

    <div class="panel-body">
        @foreach (var user in Model.Devs)
        {
            <strong>@user.UserName</strong>
            <br />
        }
    </div>

    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Team/Edit/@Model.TeamId">Edit</a>
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Team", method: FormMethod.Post, routeValues: new { id = Model.TeamId }, htmlAttributes: new { style = "display: inline" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-sm btn-success" type="submit">Delete</button>
        }
    </div>
</div>
