<div id="index-background">
    <div class="col-lg-offset-8 col-md-3" style="margin-top: 6%;">
        <p style="font-size: 70px;">Welcome to <span style="margin-left:17%">MyJira</span> </p>
        <h1>The #2 software development tool used by agile teams</h1>
        <h3>
            <b><i>MyJira</i></b> is built for every member of your software team to plan,
            track, and release great software.
        </h3>
    </div>
</div>